@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import "../node_modules/react-modal-video/css/modal-video.min.css";

body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 243);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: "Roboto", sans-serif;
}
/* ----------------------------NAVBAR---------------------------------- */
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #fff !important;
}

.navbar a {
  font-weight: 500 !important;
  font-size: 17px !important;
  margin-right: 5px;
  text-transform: none;
}
.navbar .button-group .btn {
  color: #fff;
  border-radius: 50px;
  background-color: #f86823;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar .button-group .button-first {
  color: #f4714d;
  background-color: #fff;
}

.navbar .button-group .button-second {
  color: #fff;
  background-color: #f4714d;
}
.navbar .button-group .button-first:hover {
  color: #f4714d;
  background-color: #fff;
}
.navbar .button-group .button-second:hover {
  color: #fff;
  background-color: #f4714d;
}

/* ---------------------------------MAIN PAGE----------------------------- */
.main-page {
  margin: 8px;
}
.background-main {
  padding: 5rem 0 0 0;
  background-image: linear-gradient(
      to right,
      rgba(244, 107, 69, 0.9),
      rgba(238, 168, 73, 0.9)
    ),
    url("https://res.cloudinary.com/djnv06fje/image/upload/v1575208215/qweqwwqe_rdmfzc.jpg");
  background-size: cover;
  min-height: 80vh;
}

.background-main .overlay {
  position: relative;
}

.background-main .overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 50px 0;
  opacity: 0.5;
}

.background-main .overlay-color:before {
  background-color: rgba(255, 255, 255, 0.6);
}

.background-main .button-center {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  font-size: 25px;
  margin: 0 auto;
  color: black;
  animation: shadow-pulse 2s infinite;
  transform: translate(-50%, -50%);
}

.background-main .heading-center {
  position: absolute;

  top: 65%;
  left: 50%;

  margin: 0 auto;

  transform: translate(-50%, -65%);

  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(244, 107, 69, 1),
    rgba(238, 168, 73, 1),
    rgba(244, 107, 69, 1)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.animated-button {
  color: #fba211;
  font-size: 25px;
  padding-right: 5px;
  margin-bottom: -3px;

  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.header-part-two {
  padding-top: 120px;
}

.header-part-two h1 {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .main-page {
  }
  .header-part-two {
    padding-top: 90px;
  }
  .header-part-two h1 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

@media screen and (max-width: 730px) {
  body {
    margin: 0 !important;
    width: 100% !important;
    position: relative;
    overflow-x: hidden !important;
  }
  .main-page {
    margin: 0 !important;
    overflow-x: hidden !important;
  }
  .header-part-two {
    padding-top: 25px;
  }

  .header-part-two h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .header-part-two p {
    text-transform: uppercase;
    font-size: 12px;

    letter-spacing: 1px;
    font-weight: 500;
  }

  .background-main .heading-center {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

/* -----------------TRENDING SECTION --------------------*/

.background-trending {
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577385256/Untitled-1_rh5myj.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.trending-card {
  min-height: 430px;
  max-height: 450px;
  max-width: 25rem;
}

.heading-first {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(48, 48, 48);
}
@media screen and (max-width: 530px) {
  .heading-first {
    font-size: 32px;
    font-weight: 600;
  }

  .heading-trending p {
    font-size: 15px !important;
  }
}

.img-postion {
  position: relative;
}

.heading-block {
  position: absolute;
  padding: 5px 5px 0 5px;
  margin-top: 5px;
  margin-left: -5px;
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); */
  max-width: 85%;
  background-color: #fff;
  color: #f4714d;
}

/* ---------------------BLURB------------------- */
.blurb-card {
  text-align: center;
}
.blurb-section .blurb-card h5 {
  color: #333333;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

/* --------------------HOME PRODUCT---------------------- */
.section-standard-height-2 {
  background-color: #fff !important;
  padding-top: 30px !important;
  padding-bottom: 2rem !important;
  min-height: 60vh !important;
  padding-left: 0;
  padding-right: 0;
}
.section-standard-height-3 {
  background-color: #fff !important;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  min-height: 60vh;
}

.background-home-product-first {
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577371519/Untitled-2_quzbmu.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.background-home-product-second {
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577378954/Untitled-3_ybg50x.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.product-section {
  padding: 10px 30px 10px 30px;
  box-shadow: none;
  background-color: transparent !important;
}

.product-section .text-group h2 {
  font-weight: 500;
  text-align: center !important;
  padding-left: 80px !important;

  font-size: 30px;
}

.btn-custom-1 {
  background: rgba(238, 168, 73, 1);
  float: right;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  text-align: center;
  padding-right: -2rem;
}
.btn-custom-1 .button-icon {
  visibility: hidden;
  margin-left: 0rem;
}

.btn-custom-1:hover {
  background: rgba(238, 168, 73, 1);
  float: right;
  color: white;
  border-radius: 40px;
  font-weight: 600;
}

.btn-custom-1:hover .button-icon {
  visibility: visible;
  margin-left: 1rem;
  transition: 1s all ease-in-out;
}

.side-card-padding {
  padding: 1px 15.5px 1px 16px !important;
}

@media screen and (max-width: 1050px) {
  .background-home-product-first {
    background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577371519/Untitled-2_quzbmu.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80% 80%;
  }
  .background-home-product-second {
    background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577378954/Untitled-3_ybg50x.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 80%;
  }

  .product-section .text-group h2 {
    font-weight: 500;
    text-align: right !important;
    padding-left: 90px !important;
    padding-right: 8px !important;
    font-size: 18px;
  }

  .homeproduct .ribbon-3 {
    text-align: center;
    padding-top: 5px;

    width: 90px;
    height: 30px;
    background: linear-gradient(
      to right,
      rgba(244, 107, 69, 1),
      rgba(238, 168, 73, 1)
    );
    top: 10px;
    left: -10px;
    z-index: 1000;
    -webkit-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
  }
  .homeproduct .text-ribbon {
    font-weight: 500;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }

  .homeproduct .ribbon-3:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid rgba(244, 107, 69, 1);
    border-top: 5px solid transparent;
    border-bottom: 5px solid rgba(244, 107, 69, 1);
    z-index: 1000;
  }

  .homeproduct .ribbon-3:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -49.3px;
    border-left: 25px solid rgba(238, 168, 73, 1);
    border-right: 25px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 1000;
  }
}

.ribbon {
  position: absolute;
} /* ribbon-3 */
.ribbon-3 {
  text-align: center;
  padding-top: 10px;

  width: 200px;
  height: 50px;
  background: linear-gradient(
    to right,
    rgba(244, 107, 69, 1),
    rgba(238, 168, 73, 1)
  );
  top: 10px;
  left: -10px;
  z-index: 1000;
  -webkit-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
}
.text-ribbon {
  font-weight: 600;
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.ribbon-3:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid rgba(244, 107, 69, 1);
  border-top: 5px solid transparent;
  border-bottom: 5px solid rgba(244, 107, 69, 1);
  z-index: 1000;
}

.ribbon-3:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -50px;
  border-left: 25px solid rgba(238, 168, 73, 1);
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  z-index: 1000;
}

.FaCheckCircle {
  color: #52c41a;
  font-size: 20px;

  margin-bottom: -5px;
  margin-right: 3px;
}

.FaRegTimesCircle {
  color: red;
  font-size: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
}

/* -------------------------FOOTER CSS------------------------------- */
section {
  padding: 60px 0 0 0 !important;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #2d3246 !important;
}
#footer h5 {
  /* border-bottom: 3px solid #eeeeee; */
  margin-bottom: 10px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a .i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a .i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a .i {
  margin-right: 5px;
  margin-bottom: -2px;
}
#footer ul.quick-links li a .k {
  margin-left: 5px;
  margin-bottom: -2px;
}
#footer ul.quick-links li:hover a .i {
  font-weight: 800;
}
#footer ul.quick-links li:hover a .k {
  font-weight: 800;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/* ---------------------------AUTH FORM-------------------- */

.auth-form {
  position: relative;
}
.auth-form label {
  color: #f4714d !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #f4714d 1px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, #f4714d 1px, rgba(0, 150, 136, 0) 0);
}

.spinner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* .spinner-bg:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  filter: blur(5px);
} */
.spinner-position {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-card {
  background-image: linear-gradient(
      to right,
      rgba(244, 107, 69, 0.8),
      rgba(238, 168, 73, 0.8)
    ),
    url("https://res.cloudinary.com/djnv06fje/image/upload/v1577390249/photo-1571566844267-2f4c36350ad1_cguuc5.jpg");
  background-position: left bottom;
  background-size: cover;
  margin: 0 auto;
  width: 26rem;
  height: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}
.main-card {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-left: 55px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .background-card {
    background-image: linear-gradient(
        to right,
        rgba(244, 107, 69, 0.8),
        rgba(238, 168, 73, 0.8)
      ),
      url("https://res.cloudinary.com/djnv06fje/image/upload/v1577390249/photo-1571566844267-2f4c36350ad1_cguuc5.jpg");
    background-position: left bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
  }
  .main-card {
    padding: 10px;
    margin-left: 0px;
    border-radius: 10px;
  }
}
/* ----------------COMMON CSS--------------- */
.section-standard-height {
  background-color: #fff !important;
  padding-top: 3rem;
  padding-bottom: 5rem;
  min-height: 70vh;
}

.heading-gradient {
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -----------------------------ANIMATION SECTIONS-------------------------- */

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
  animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-name: flash;
}

@keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
