@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import "../node_modules/react-modal-video/css/modal-video.min.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 243);
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}
/* ----------------------------NAVBAR---------------------------------- */
.navbar {
  z-index: 2000;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #fff !important;
}

.navbar a {
  font-weight: 500 !important;
  font-size: 17px !important;
  margin-right: 5px;
  text-transform: none;
}
.navbar .button-group .btn {
  color: #fff;
  border-radius: 50px;
  background-color: #f86823;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar .button-group .button-first {
  color: #f4714d;
  background-color: #fff;
}

.navbar .button-group .button-second {
  color: #fff;
  background-color: #f4714d;
}
.navbar .button-group .button-first:hover {
  color: #f4714d;
  background-color: #fff;
}
.navbar .button-group .button-second:hover {
  color: #fff;
  background-color: #f4714d;
}

/* ---------------------------------MAIN PAGE----------------------------- */
.main-page {
  margin: 6rem 8px 8px 8px;
}
.background-main {
  padding: 5rem 0 0 0;
  background-image: linear-gradient(
      to right,
      rgba(244, 107, 69, 0.9),
      rgba(238, 168, 73, 0.9)
    ),
    url("https://res.cloudinary.com/djnv06fje/image/upload/v1575208215/qweqwwqe_rdmfzc.jpg");
  background-size: cover;
  min-height: 80vh;
}

.background-main .overlay {
  position: relative;
}

.background-main .overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 50px 0;
  opacity: 0.5;
}

.background-main .overlay-color:before {
  background-color: rgba(255, 255, 255, 0.6);
}

.background-main .button-center {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  font-size: 25px;
  margin: 0 auto;
  color: black;
  animation: shadow-pulse 2s infinite;
  transform: translate(-50%, -50%);
}

.background-main .heading-center {
  position: absolute;

  top: 65%;
  left: 50%;

  margin: 0 auto;

  transform: translate(-50%, -65%);

  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(244, 107, 69, 1),
    rgba(238, 168, 73, 1),
    rgba(244, 107, 69, 1)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.animated-button {
  color: #fba211;
  font-size: 25px;
  padding-right: 5px;
  margin-bottom: -3px;

  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.header-part-two {
  padding-top: 120px;
}

.header-part-two h1 {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .main-page {
  }
  .header-part-two {
    padding-top: 90px;
  }
  .header-part-two h1 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

@media screen and (max-width: 980px) {
  body {
    margin: 0 !important;
    width: 100% !important;
    position: relative;
    overflow-x: hidden !important;
  }
  .main-page {
    margin: 0 !important;
    overflow-x: hidden !important;
  }

  .background-main {
    padding: 2rem 0 0 0;
  }
  .section-standard-height {
    background-color: #fff !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .header-part-two {
    padding-top: 25px;
  }

  .header-part-two h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .header-part-two p {
    text-transform: uppercase;
    font-size: 12px;

    letter-spacing: 1px;
    font-weight: 500;
  }

  .background-main .heading-center {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

/* -----------------TRENDING SECTION --------------------*/

.background-trending {
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577385256/Untitled-1_rh5myj.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.trending-card {
  min-height: 430px;
  max-height: 450px;
  max-width: 25rem;
}

.heading-first {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(48, 48, 48);
}
@media screen and (max-width: 530px) {
  .heading-first {
    font-size: 32px;
    font-weight: 600;
  }

  .heading-trending p {
    font-size: 15px !important;
  }
}

.img-postion {
  position: relative;
}

.heading-block {
  position: absolute;
  padding: 5px 5px 0 5px;
  margin-top: 5px;
  margin-left: -5px;
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); */
  max-width: 85%;
  background-color: #fff;
  color: #f4714d;
}

/* ---------------------BLURB------------------- */
.blurb-card {
  text-align: center;
}
.blurb-section .blurb-card h5 {
  color: #333333;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

/* --------------------HOME PRODUCT---------------------- */
.section-standard-height-2 {
  background-color: #fff !important;
  padding-top: 30px !important;
  padding-bottom: 2rem !important;
  min-height: 60vh !important;
  padding-left: 0;
  padding-right: 0;
}
.section-standard-height-3 {
  background-color: #fff !important;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  min-height: 60vh;
}

.background-home-product-first {
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577371519/Untitled-2_quzbmu.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.background-home-product-second {
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577378954/Untitled-3_ybg50x.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.product-section {
  padding: 10px 30px 10px 30px;
  box-shadow: none;
  background-color: transparent !important;
}

.product-section .text-group h2 {
  font-weight: 500;
  text-align: center !important;
  padding-left: 80px !important;

  font-size: 30px;
}

.btn-custom-1 {
  background: rgba(238, 168, 73, 1);
  float: right;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  text-align: center;
  padding-right: -2rem;
}
.btn-custom-1 .button-icon {
  visibility: hidden;
  margin-left: 0rem;
}

.btn-custom-1:hover {
  background: rgba(238, 168, 73, 1);
  float: right;
  color: white;
  border-radius: 40px;
  font-weight: 600;
}

.btn-custom-1:hover .button-icon {
  visibility: visible;
  margin-left: 1rem;
  transition: 1s all ease-in-out;
}

.side-card-padding {
  padding: 1px 15.5px 1px 16px !important;
}

@media screen and (max-width: 1050px) {
  .background-home-product-first {
    background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577371519/Untitled-2_quzbmu.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80% 80%;
  }
  .background-home-product-second {
    background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1577378954/Untitled-3_ybg50x.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 80%;
  }

  .product-section .text-group h2 {
    font-weight: 500;
    text-align: right !important;
    padding-left: 90px !important;
    padding-right: 8px !important;
    font-size: 18px;
  }

  .homeproduct .ribbon-3 {
    text-align: center;
    padding-top: 5px;

    width: 90px;
    height: 30px;
    background: linear-gradient(
      to right,
      rgba(244, 107, 69, 1),
      rgba(238, 168, 73, 1)
    );
    top: 10px;
    left: -10px;
    z-index: 1000;
    -webkit-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
  }
  .homeproduct .text-ribbon {
    font-weight: 500;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }

  .homeproduct .ribbon-3:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid rgba(244, 107, 69, 1);
    border-top: 5px solid transparent;
    border-bottom: 5px solid rgba(244, 107, 69, 1);
    z-index: 1000;
  }

  .homeproduct .ribbon-3:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -49.3px;
    border-left: 25px solid rgba(238, 168, 73, 1);
    border-right: 25px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 1000;
  }
}

.ribbon {
  position: absolute;
} /* ribbon-3 */
.ribbon-3 {
  text-align: center;
  padding-top: 10px;

  width: 200px;
  height: 50px;
  background: linear-gradient(
    to right,
    rgba(244, 107, 69, 1),
    rgba(238, 168, 73, 1)
  );
  top: 10px;
  left: -10px;
  z-index: 1000;
  -webkit-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.5);
}
.text-ribbon {
  font-weight: 600;
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.ribbon-3:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid rgba(244, 107, 69, 1);
  border-top: 5px solid transparent;
  border-bottom: 5px solid rgba(244, 107, 69, 1);
  z-index: 1000;
}

.ribbon-3:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -50px;
  border-left: 25px solid rgba(238, 168, 73, 1);
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  z-index: 1000;
}

.FaCheckCircle {
  color: #52c41a;
  font-size: 20px;

  margin-bottom: -5px;
  margin-right: 3px;
}

.FaRegTimesCircle {
  color: red;
  font-size: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
}

/* -------------------------FOOTER CSS------------------------------- */
section {
  padding: 60px 0 0 0 !important;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #2d3246 !important;
}
#footer h5 {
  /* border-bottom: 3px solid #eeeeee; */
  margin-bottom: 10px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a .i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a .i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a .i {
  margin-right: 5px;
  margin-bottom: -2px;
}
#footer ul.quick-links li a .k {
  margin-left: 5px;
  margin-bottom: -2px;
}
#footer ul.quick-links li:hover a .i {
  font-weight: 800;
}
#footer ul.quick-links li:hover a .k {
  font-weight: 800;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/* ---------------------------AUTH FORM-------------------- */

.auth-form {
  position: relative;
}
.auth-form label {
  color: #f4714d !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #f4714d 1px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, #f4714d 1px, rgba(0, 150, 136, 0) 0);
}

.spinner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* .spinner-bg:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  filter: blur(5px);
} */
.spinner-position {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-card {
  background-image: linear-gradient(
      to right,
      rgba(244, 107, 69, 0.8),
      rgba(238, 168, 73, 0.8)
    ),
    url("https://res.cloudinary.com/djnv06fje/image/upload/v1577390249/photo-1571566844267-2f4c36350ad1_cguuc5.jpg");
  background-position: left bottom;
  background-size: cover;
  margin: 0 auto;
  width: 26rem;
  height: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}
.main-card {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-left: 55px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .background-card {
    background-image: linear-gradient(
        to right,
        rgba(244, 107, 69, 0.8),
        rgba(238, 168, 73, 0.8)
      ),
      url("https://res.cloudinary.com/djnv06fje/image/upload/v1577390249/photo-1571566844267-2f4c36350ad1_cguuc5.jpg");
    background-position: left bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
  }
  .main-card {
    padding: 10px;
    margin-left: 0px;
    border-radius: 10px;
  }
}

/* -------------------PRODUCT PAGE--------------------------- */
.product-box {
  min-width: 80%;
  background-color: #eeeeee;
  padding: 20px;
}
.product-card-back {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  min-height: 40vh;
}
.product-heading {
  text-align: center;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.9);
}
.product-name {
  color: #f4714d;
  font-weight: 500;
}

.product-img {
  position: relative;

  min-height: 500px;
  min-width: 100%;
}

.product-img-div {
  position: relative;
}

.product-img-div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

.product-content {
  position: absolute;
  text-align: left;
  padding: 5px;
  top: 10px;
  left: -10px;
}

.product-content-2 {
  position: absolute;
  text-align: left;
  padding: 10px 10px 10px 10px;
  bottom: 0;
}

.short-box-content {
  text-align: left;
}

.short-box-content h3 {
  font-size: 25px;
  font-weight: 500;
}

.short-box-content ul {
  list-style: none;
}
.short-box-content ul li {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
}
.short-box-content ul li:before {
  content: "✓";
  font-weight: 600;
  font-size: 18px !important;
  margin-right: 2px;
  text-align: left;
  font-size: 12px;
}
.react-player {
  min-width: 100%;
  max-width: 100%;
  height: 400px;
}

@media (max-width: 1000px) {
  .short-box-content h3 {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #555555 !important;
  }

  .short-box-content ul {
    padding-left: 0px !important;
  }
  .short-box-content ul li {
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
  }
  .short-box-content ul li:before {
    content: "✓";
    font-weight: 600;
    font-size: 14px !important;
    margin-right: 2px;
    text-align: left;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .product-box {
    background-color: #fff;
    padding: 0 15px 0 15px;
  }
  .product-name {
    font-size: 18px;
    font-weight: 500;
  }
  .short-box-content h3 {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #555555 !important;
  }

  .short-box-content ul {
    padding-left: 0px !important;
  }
  .short-box-content ul li {
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
  }
  .short-box-content ul li:before {
    content: "✓";
    font-weight: 600;
    font-size: 14px !important;
    margin-right: 2px;
    text-align: left;
    font-size: 12px;
  }

  .react-player {
    min-width: 100%;
    max-width: 100%;
    height: 280px !important;
  }
}

/* ----------------MOBIlE MENU------------------ */
.mobile-menu {
  display: none;
  z-index: 2000 !important;
}
.block-center {
  margin: 0 auto;
  text-align: center;
}

.block-center p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.menu-icon {
  font-size: 30px;
}

/* ------------------PROFILE PAGE-------------------- */
.parallex {
  background-attachment: fixed;
}
.profile-pic {
  object-fit: cover;
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  margin: 0 auto;
}

/* ----------------------ORDER DETAIL---------------------- */

.order-p {
  font-weight: 500;
  font-size: 12px;
}

.logo-order {
  margin-right: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -4px;
}

.green-line {
  margin: 5px 10px 5px 20px;
  border-left: 3px solid #11dc61;
  height: 6vh;
}

.red-line {
  margin: 5px 10px 5px 20px;
  border-left: 3px dotted #ffce00;
  height: 6vh;
}

@media (max-width: 550px) {
  .green-line {
    height: 5vh;
  }

  .red-line {
    height: 5vh;
  }
}
/* --------------------SUCCESSFUL PAGE------------------- */

.background-celb {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: url("https://res.cloudinary.com/djnv06fje/image/upload/v1578069780/pngfuel.com_j4j7kp.png");
  text-align: center;
  min-width: 50%;
  min-height: 20vh;
  z-index: -120;

  animation: celb 8s;
  animation-delay: 2s;
}

.successful-page-height {
  padding: 8rem 0 5rem 0;
  min-height: 70vh;
  background-color: #fff;
}

@keyframes celb {
  0% {
    z-index: 120;
    top: 450px;
  }
  100% {
    z-index: 120;
    top: -150px;
  }
}

@media (max-width: 550px) {
  .successful-page-height {
    padding: 5rem 0 5rem 0;
    min-height: 70vh;
    background-color: #fff;
  }
}
/* ------------------------CART PAGE---------------- */

.cart-block-card {
  min-height: 50vh;
  background-image: url("https://res.cloudinary.com/djnv06fje/image/upload/v1578055020/cart_axj8vw.png");
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.route-btn {
  position: absolute;

  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coupon-block form {
  margin: 0 auto;
  padding: 5px 0 5px 0;
  text-align: center;
}
.coupon-block input {
  width: 300px;
  height: 50px;
  padding: 15px;
  border: 0;
  z-index: -100 !important;
  background: #eeeeee;
}

.coupon-block .btn {
  margin-left: -20px;
  color: #fff;
  z-index: 200 !important;
  background: #f46c45;
  padding: 5px 15px 5px 15px;
}

.coupon-block input:focus {
  outline: none;
}

.note-block {
  padding: 5px;
}

.note-block textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  background: #ececec;
}

.note-block textarea:focus {
  outline: none;
}

.term-block input {
  margin-right: 5px;
  padding-top: 5px !important;
}
.term-block label {
  text-align: center;
  font-size: 16px;
}

.p-name p {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  top: 30%;
  text-transform: none;
}

.p-remove .btn {
  position: absolute;
  text-transform: none;
  padding: 5px 8px 5px 8px;
  left: 10%;
  top: 30%;
}
@media (max-width: 550px) {
  .term-block label {
    text-align: center;
    font-size: 12px !important;
  }
  .coupon-block input {
    width: 250px !important;
    height: 50px;
    padding: 15px;
    border: 0;
    z-index: -100 !important;
    background: #eeeeee;
  }

  .p-name p {
    font-size: 13px;
    font-weight: 500;
    top: 40%;
    text-transform: none;
  }

  .p-remove .btn {
    text-align: right;
    font-size: 12px !important;

    position: absolute;
    text-transform: none;
    padding: 5px 5px 5px 5px;
    left: 10%;
    top: 35%;
  }
  .cart-tittle {
    font-size: 25px !important;
    font-weight: 400;
  }

  .sub-card .table h6 {
    font-size: 14px !important;
    font-weight: 600;
  }
  .sub-card .table .second-pay {
    font-size: 14px !important;
    font-weight: 500;
  }
}
.sub-card .table h6 {
  font-size: 16px;
  font-weight: 600;
}
.sub-card .table .second-pay {
  font-size: 16px;
  font-weight: 500;
}

.icon-right-thumb {
  font-size: 18px;
  margin-bottom: -1.8px;
  color: #10dc60;
  animation: mover-1 500ms infinite alternate-reverse;
}

@media (max-width: 1050px) {
  .coupon-block input {
    width: 250px;
    height: 50px;
    padding: 15px;
    border: 0;
    z-index: -100 !important;
    background: #eeeeee;
  }

  .p-name p {
    font-size: 13px;
    font-weight: 500;
    top: 40%;
    text-transform: none;
  }

  .p-remove .btn {
    text-align: right;
    font-size: 12px !important;

    position: absolute;
    text-transform: none;
    padding: 5px 5px 5px 5px;
    left: 10%;
    top: 35%;
  }
  .cart-tittle {
    font-size: 30px;
    font-weight: 400;
  }

  .sub-card .table h6 {
    font-size: 14px !important;
    font-weight: 600;
  }
  .sub-card .table .second-pay {
    font-size: 14px !important;
    font-weight: 500;
  }
}

@keyframes mover-1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/* ----------------COMMON CSS--------------- */
.section-standard-height {
  background-color: #fff !important;
  padding-top: 8rem;
  padding-bottom: 5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 70vh !important;
}

.heading-gradient {
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu {
    display: flex;
  }
}

/* -----------------------------ANIMATION SECTIONS-------------------------- */

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
  animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-name: flash;
}

@keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
